option_settings:
  aws:autoscaling:launchconfiguration:
    SecurityGroups: unsecure
    EC2KeyName: digijin
    IamInstanceProfile: dockerinstance
    InstanceType: m1.small
    SecurityGroups: sg-xxxxxxx

  aws:ec2:vpc:
    VPCId: vpc-xxxxxxx
    Subnets:
     - subnet-xxxxxxx
     - subnet-xxxxxxx
     - subnet-xxxxxxx
    ELBSubnets:
     - subnet-xxxxxxx
     - subnet-xxxxxxx
     - subnet-xxxxxxx
